.item-img {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    background-color: white;
}

.item-desc {
    border: 1px solid black;
    width: 190px;
    height: 190px;
    margin: auto;
    background-color: #f2f0d4;
    padding: 5px;
}

.item-flex-child {
    margin: 10px 30px;
    text-align: left;
}

.item-like-btn {
    background-color: lightgrey;
    margin: 5px;
    border-radius: 25px;
    height: 30px;
    width: 30px;
    padding: 5px;

}

.item-heart-icon {
    height: 15px;
    width: 17px;
    margin: auto;
}

.item-like-count {
    display: inline;
}